version: '3.9'

services:
  app:
    image: cosmtrek/air:v1.28.0
    working_dir: /app
    ports:
      - 3005:3005
    environment:
      API_PORT: 3005
      DATABASE_URL: postgres://root:root@db:5432/root
    volumes:
      - ./:/app/
    depends_on:
      - db

  db:
    image: postgres:14.3
    environment:
      POSTGRES_PASSWORD: root
      POSTGRES_USER: root
    volumes:
      - ./db/seed.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - 5432:5432
